<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4QPVsQe3Z8OYcT0S2HZqkb7Q24RcYDxc</string>
	<key>GCM_SENDER_ID</key>
	<string>543544491548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CalendarApp</string>
	<key>PROJECT_ID</key>
	<string>calendarapp-9c6fa</string>
	<key>STORAGE_BUCKET</key>
	<string>calendarapp-9c6fa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543544491548:ios:c5df2dfa5ed8d9022da9d9</string>
</dict>
</plist>